/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  min-height: 100vh;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  /* sticky footer */
  display: -webkit-box;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /* sticky footer */
  font-family: 'Lato';
  color: rgba(51, 26, 47, 0.8);
  background-color: #FAFAFA;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0;
  /* sticky footer */
}

span {
  color: #CF51CE;
}

.container {
  max-width: 1560px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container--fluid {
  max-width: unset;
}
.container--no-padding {
  padding: 0;
}
@media (max-width: 1700px) {
  .container {
    width: 1230px;
  }
}
@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0;
}

.header {
  margin-bottom: 147px;
}
@media (max-width: 700px) {
  .header {
    margin-bottom: 85px;
  }
}

.header::before {
  content: "";
  position: absolute;
  width: 101px;
  height: 585px;
  top: 0;
  left: -25px;
  background-image: url(../../img/bg/bg-ellipse.png);
}
@media (max-width: 1700px) {
  .header::before {
    left: -75px;
  }
}
@media (max-width: 1280px) {
  .header::before {
    display: none;
  }
}

.header::after {
  content: "";
  position: absolute;
  width: 41px;
  height: 761px;
  bottom: -185px;
  right: 0;
  background-image: url(../../img/bg/bg-ellipse-2.png);
}
@media (max-width: 1700px) {
  .header::after {
    display: none;
  }
}

.header-row {
  display: -webkit-box;
  display: flex;
  margin-top: 22px;
  margin-bottom: 66px;
  width: 100%;
  height: 92px;
  -webkit-box-align: center;
          align-items: center;
}
@media (max-width: 1100px) {
  .header-row {
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
}

.header-row__logo {
  position: relative;
  display: -webkit-box;
  display: flex;
  width: 489px;
  margin-right: 31px;
  padding-left: 80px;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
@media (max-width: 1700px) {
  .header-row__logo {
    width: 380px;
    padding-left: 60px;
  }
}
@media (max-width: 1700px) {
  .header-row__logo {
    margin-right: 13px;
  }
}

.header-row__logo-title {
  font-family: 'Aretha';
  font-weight: 700;
  font-size: 31.8678px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #54618E;
}
@media (max-width: 1700px) {
  .header-row__logo-title {
    display: -webkit-box;
    display: flex;
    height: 73px;
    font-size: 24.7643px;
    line-height: 1.2;
  }
}
@media (max-width: 1100px) {
  .header-row__logo-title {
    height: auto;
  }
}
@media (max-width: 700px) {
  .header-row__logo-title {
    font-size: 18.5124px;
  }
}

.header-row__logo-title::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 31px;
  top: -25px;
  left: 5px;
  background-image: url(../../img/icons/logo.svg);
}
@media (max-width: 1700px) {
  .header-row__logo-title::before {
    width: 47px;
    height: 22px;
    background-image: url(../../img/icons/logo-47.svg);
  }
}
@media (max-width: 700px) {
  .header-row__logo-title::before {
    width: 35px;
    height: 17px;
    background-image: url(../../img/icons/logo-33.svg);
  }
}

.header-row__logo-subtitle {
  position: relative;
  width: 186px;
  font-size: 14px;
  line-height: 1.28;
  color: rgba(51, 26, 47, 0.9);
}
@media (max-width: 1700px) {
  .header-row__logo-subtitle {
    padding: 0 32px;
    font-size: 10px;
    line-height: 1.4;
  }
}
@media (max-width: 700px) {
  .header-row__logo-subtitle {
    display: none;
  }
}

.header-row__logo-subtitle::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 80px;
  left: -30px;
  top: -13px;
  background-color: rgba(51, 26, 47, 0.5);
}
@media (max-width: 1700px) {
  .header-row__logo-subtitle::before {
    height: 62px;
    left: 16px;
  }
}

.header-row__nav {
  display: -webkit-box;
  display: flex;
  width: 1010px;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
@media (max-width: 1100px) {
  .header-row__nav {
    width: auto;
  }
}

.header-row__nav-list {
  font-size: 24px;
  line-height: 1.45;
  color: #331A2F;
}
.header-row__nav-list a {
  border-radius: 10px;
  transition: all 0.2s ease-in;
}
@media (max-width: 1100px) {
  .header-row__nav-list {
    display: none;
  }
}

.header-row__nav-list li a:hover {
  background: #CF51CE;
  box-shadow: 1px 5px 10px -5px black;
  transition: all 0.2s ease-in;
}

.header-row__nav-list li ul {
  position: absolute;
  display: none;
}

.header-row__nav-list li > ul li {
  border-radius: 10px;
}

.header-row__nav-list li:hover > ul {
  display: block;
}

.list {
  display: -webkit-box;
  display: flex;
  width: 305px;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1700px) {
  .list {
    width: 230px;
    font-size: 18px;
    line-height: 1.94;
  }
}

.list__item {
  position: relative;
}

.list__item::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 9px;
  top: 16px;
  right: -21px;
  background-image: url(../../img/icons/down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.header-row__nav-link {
  display: -webkit-box;
  display: flex;
  width: 492px;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
@media (max-width: 1700px) {
  .header-row__nav-link {
    width: 390px;
  }
}
@media (max-width: 1100px) {
  .header-row__nav-link {
    width: 273px;
  }
}
@media (max-width: 700px) {
  .header-row__nav-link {
    width: 160px;
  }
}

.header-row__phone {
  font-size: 24px;
  line-height: 1.45;
  color: #331A2F;
}
@media (max-width: 1700px) {
  .header-row__phone {
    font-size: 18px;
    line-height: 1.94;
  }
}
@media (max-width: 1100px) {
  .header-row__phone {
    display: none;
  }
}

.button {
  position: relative;
  width: 169px;
  height: 45px;
  padding-left: 69px;
  padding-right: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.52;
  color: #FFFFFF;
  background: #CF51CE;
  border-radius: 12px;
  transition: all 0.2s ease-in;
}
.button:hover {
  box-shadow: 1px 5px 10px -5px black;
  transition: all 0.2s ease-in;
}
@media (max-width: 1700px) {
  .button {
    width: 152px;
    height: 43px;
    font-size: 18px;
    line-height: 1.96;
  }
}
@media (max-width: 700px) {
  .button {
    padding-left: 50px;
    width: 103px;
    height: 36px;
    font-size: 14px;
  }
}

.button::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 11px;
  left: 32px;
  background-image: url(../../img/icons/entry.svg);
}
@media (max-width: 1700px) {
  .button::before {
    width: 20px;
    height: 20px;
    background-image: url(../../img/icons/entry-20.svg);
  }
}
@media (max-width: 700px) {
  .button::before {
    width: 14px;
    height: 14px;
    left: 23px;
    background-image: url(../../img/icons/entry-14.svg);
  }
}

.mobile-button {
  display: none;
}
@media (max-width: 1100px) {
  .mobile-button {
    display: block;
  }
}

.header-content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
@media (max-width: 700px) {
  .header-content {
    display: block;
  }
}

.header-text {
  max-width: 868px;
}
@media (max-width: 1700px) {
  .header-text {
    max-width: 711px;
  }
}

.header-text__title {
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.42;
  color: #331A2F;
}
@media (max-width: 1700px) {
  .header-text__title {
    font-size: 46px;
    line-height: 1.41;
  }
}
@media (max-width: 700px) {
  .header-text__title {
    width: 216px;
    padding-right: 0;
    font-size: 26px;
    line-height: 1.5;
  }
}

.header-text__price {
  position: relative;
  margin-bottom: 16px;
  padding-left: 73px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.38;
  text-transform: uppercase;
}
.header-text__price span {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.44;
}

.header-text__price::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 5px;
  left: 0;
  background-image: url(../../img/icons/spent.svg);
}

.header-text__desc {
  padding-right: 80px;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.6;
}
@media (max-width: 1700px) {
  .header-text__desc {
    font-size: 20px;
  }
}
@media (max-width: 1100px) {
  .header-text__desc {
    padding-right: 242px;
  }
}
@media (max-width: 700px) {
  .header-text__desc {
    width: 324px;
    margin: 30px auto;
    padding: 0;
    font-size: 18px;
  }
}

.header-text__desc p:not(:last-child) {
  margin-bottom: 15px;
}

@media (max-width: 1100px) {
  .desctop-p {
    display: none;
  }
}

.mobile-p {
  display: none;
}
@media (max-width: 1100px) {
  .mobile-p {
    display: block;
  }
}

.header-img {
  background-image: url(../../img/bg/stars.jpg);
  background-size: cover;
}
@media (max-width: 1700px) {
  .header-img {
    background-size: contain;
  }
  .header-img img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1100px) {
  .header-img {
    position: absolute;
    height: 410px;
    right: -190px;
    bottom: 60px;
    background-image: none;
  }
}
@media (max-width: 700px) {
  .header-img {
    right: -125px;
    bottom: 415px;
  }
}

.main {
  margin-bottom: 140px;
}
@media (max-width: 700px) {
  .main {
    margin-bottom: 100px;
  }
}

.main-box {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1700px) {
  .main-box {
    max-width: 995px;
  }
}

.main__header {
  margin-bottom: 85px;
  padding: 0 241px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: #331A2F;
}
@media (max-width: 1700px) {
  .main__header {
    padding: 0 215px;
    font-size: 40px;
  }
}
@media (max-width: 1100px) {
  .main__header {
    width: 565px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 700px) {
  .main__header {
    margin-bottom: 50px;
    width: 332px;
    font-size: 24px;
    line-height: 1.5;
  }
}

.main__block-start {
  display: -webkit-box;
  display: flex;
}
@media (max-width: 1700px) {
  .main__block-start {
    -webkit-box-align: center;
            align-items: center;
  }
}
@media (max-width: 700px) {
  .main__block-start {
    display: block;
  }
}

.main__text {
  padding: 114px 82px;
  width: 850px;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.6;
}
@media (max-width: 1700px) {
  .main__text {
    padding: 35px 62px;
    font-size: 20px;
  }
}
@media (max-width: 700px) {
  .main__text {
    width: 324px;
    margin: 30px auto;
    padding: 0;
    font-size: 18px;
  }
}

.main__text p:first-child {
  margin-bottom: 15px;
}

.main__block-direction {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}
@media (max-width: 1700px) {
  .main__block-direction {
    -webkit-box-align: center;
            align-items: center;
  }
}
@media (max-width: 700px) {
  .main__block-direction {
    display: block;
    margin-top: 10px;
  }
}

.section-teaching {
  margin-bottom: 131px;
}

.section-teaching__title {
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 679px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: #331A2F;
}
@media (max-width: 1700px) {
  .section-teaching__title {
    font-size: 39.9977px;
    line-height: 1.6;
  }
}
@media (max-width: 1700px) {
  .section-teaching__title {
    width: 300px;
    font-size: 24px;
    line-height: 1.5;
  }
}

.section-teaching__title::after {
  content: "";
  position: absolute;
  width: 261px;
  height: 7px;
  bottom: 0;
  right: 12px;
  background-image: url(../../img/underline.png);
}
@media (max-width: 1700px) {
  .section-teaching__title::after {
    width: 219px;
    right: 66px;
    background-image: url(../../img/underline-L.png);
  }
}

.section-teaching__subtitle {
  width: 840px;
  margin: 0 auto;
  margin-bottom: 85px;
  padding: 0 0;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.6;
  text-align: center;
}
@media (max-width: 1700px) {
  .section-teaching__subtitle {
    width: 670px;
    font-size: 19.9988px;
  }
}
@media (max-width: 700px) {
  .section-teaching__subtitle {
    width: 330px;
    font-size: 18px;
  }
}

.section-teaching__card-wrapper-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 123px;
}
@media (max-width: 1700px) {
  .section-teaching__card-wrapper-grid {
    gap: 0px 88px;
  }
}
@media (max-width: 1100px) {
  .section-teaching__card-wrapper-grid {
    grid-template-columns: repeat(2, 254px);
    gap: 60px;
    -webkit-box-pack: center;
            justify-content: center;
  }
}
@media (max-width: 700px) {
  .section-teaching__card-wrapper-grid {
    grid-template-columns: repeat(1, 260px);
    gap: 60px;
    -webkit-box-pack: center;
            justify-content: center;
  }
}

.breadcrumb-menu {
  margin-bottom: 15px;
}
@media (max-width: 700px) {
  .breadcrumb-menu {
    margin-bottom: 44px;
  }
}

.breadcrumb-list {
  display: -webkit-box;
  display: flex;
  font-size: 16px;
  line-height: 1.18;
}
.breadcrumb-list li {
  margin-right: 26px;
}
.breadcrumb-list span {
  color: rgba(51, 26, 47, 0.5);
}
.breadcrumb-list span:hover {
  color: black;
  transition: all 0.3s ease-in;
}

.link {
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: 11px;
  left: -17px;
  background: rgba(51, 26, 47, 0.5);
}

.icon-superman {
  width: 560px;
  height: 560px;
}
@media (max-width: 1700px) {
  .icon-superman {
    width: 435px;
    height: 435px;
  }
}
@media (max-width: 1100px) {
  .icon-superman {
    width: 410px;
    height: 410px;
  }
}
@media (max-width: 700px) {
  .icon-superman {
    width: 245px;
    height: 245px;
  }
}

.icon-tablet {
  width: 456px;
  height: 459px;
}
@media (max-width: 1700px) {
  .icon-tablet {
    width: 352px;
    height: 362px;
  }
}
@media (max-width: 1100px) {
  .icon-tablet {
    width: 270px;
    height: 277px;
  }
}
@media (max-width: 700px) {
  .icon-tablet {
    margin: 0 auto;
  }
}

.icon-notebook {
  width: 474px;
  height: 474px;
}
@media (max-width: 1700px) {
  .icon-notebook {
    width: 358px;
    height: 358px;
  }
}
@media (max-width: 1100px) {
  .icon-notebook {
    width: 270px;
    height: 270px;
  }
}
@media (max-width: 700px) {
  .icon-notebook {
    margin: 0 auto;
  }
}

.icon-card {
  width: 120px;
  height: 120px;
}
@media (max-width: 1700px) {
  .icon-card {
    width: 110px;
    height: 110px;
  }
}

.section-teaching__card {
  padding-right: 26px;
}
@media (max-width: 1700px) {
  .section-teaching__card {
    padding-right: 4px;
  }
}
@media (max-width: 700px) {
  .section-teaching__card {
    padding: 0;
    text-align: center;
  }
}

.section-teaching__card-icon {
  margin-bottom: 30px;
}
.section-teaching__card-icon svg {
  margin-left: -25px;
}
@media (max-width: 700px) {
  .section-teaching__card-icon svg {
    margin: 0 auto;
  }
}

.section-teaching__card-title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: #331A2F;
}
@media (max-width: 1700px) {
  .section-teaching__card-title {
    font-size: 19.9988px;
  }
}

.section-teaching__card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}
@media (max-width: 1700px) {
  .section-teaching__card-text {
    font-size: 15.9991px;
  }
}

/*# sourceMappingURL=main.css.map */